//
//  Warnings.xcconfig
//  NSPredicateDictionary
//
//  Created by Dan Zinngrabe on 6/24/14.
//  Copyright (c) 2014 Dan Zinngrabe. All rights reserved.
//

// Warnings
GCC_WARN_MULTIPLE_DEFINITION_TYPES_FOR_SELECTOR = NO
GCC_WARN_CHECK_SWITCH_STATEMENTS = YES
GCC_WARN_SHADOW = YES
GCC_WARN_64_TO_32_BIT_CONVERSION = YES
GCC_WARN_INITIALIZER_NOT_FULLY_BRACKETED = YES
GCC_WARN_ABOUT_RETURN_TYPE = YES
GCC_WARN_MISSING_PARENTHESES = YES
GCC_WARN_ABOUT_MISSING_FIELD_INITIALIZERS = YES
GCC_WARN_ABOUT_MISSING_NEWLINE = YES
GCC_WARN_ABOUT_MISSING_PROTOTYPES = YES
GCC_WARN_SIGN_COMPARE = YES
GCC_WARN_TYPECHECK_CALLS_TO_PRINTF = YES
GCC_WARN_UNDECLARED_SELECTOR = YES
GCC_WARN_UNUSED_FUNCTION = YES
GCC_WARN_UNUSED_LABEL = YES
GCC_WARN_UNUSED_PARAMETER = YES
GCC_WARN_UNUSED_VALUE = YES
GCC_WARN_UNUSED_VARIABLE = YES
GCC_WARN_STRICT_SELECTOR_MATCH = YES
GCC_WARN_ABOUT_MISSING_NEWLINE = YES
GCC_WARN_SIGN_COMPARE = YES
GCC_WARN_ABOUT_RETURN_TYPE = YES
GCC_WARN_PEDANTIC = YES
GCC_WARN_EFFECTIVE_CPLUSPLUS_VIOLATIONS = YES
GCC_TREAT_INCOMPATIBLE_POINTER_TYPE_WARNINGS_AS_ERRORS = YES

RUN_CLANG_STATIC_ANALYZER = YES

CLANG_WARN__DUPLICATE_METHOD_MATCH = YES
CLANG_WARN_ENUM_CONVERSION = YES
// Hmm this doesnt seem to like (foo | bar)
//CLANG_WARN_ASSIGN_ENUM = YES
CLANG_WARN_INT_CONVERSION = YES
CLANG_WARN_IMPLICIT_SIGN_CONVERSION = YES
CLANG_WARN_CONSTANT_CONVERSION = YES
CLANG_WARN_OBJC_MISSING_PROPERTY_SYNTHESIS = YES
CLANG_WARN_UNREACHABLE_CODE = YES

CLANG_WARN_OBJC_MISSING_PROPERTY_SYNTHESIS = YES
CLANG_WARN_OBJC_IMPLICIT_ATOMIC_PROPERTIES = YES
CLANG_WARN_DEPRECATED_OBJC_IMPLEMENTATIONS = YES
// ?
GCC_WARN_ALLOW_INCOMPLETE_PROTOCOL         = YES
GCC_WARN_STRICT_SELECTOR_MATCH             = YES
CLANG_ANALYZER_OBJC_NSCFERROR              = YES
CLANG_ANALYZER_OBJC_COLLECTIONS            = YES
CLANG_ANALYZER_OBJC_ATSYNC                 = YES
CLANG_WARN_OBJC_CONTAINERS_OUTOFBOUNDS     = YES
CLANG_WARN_OBJCPP_ARC_ABI = YES
CLANG_WARN__DUPLICATE_METHOD_MATCH = YES

// Security
CLANG_ANALYZER_SECURITY_FLOATLOOPCOUNTER			= YES
CLANG_ANALYZER_SECURITY_INSECUREAPI_UNCHECKEDRETURN	= YES
CLANG_ANALYZER_SECURITY_INSECUREAPI_GETPW_GETS		= YES
CLANG_ANALYZER_SECURITY_INSECUREAPI_MKSTEMP			= YES
CLANG_ANALYZER_SECURITY_INSECUREAPI_RAND			= YES
CLANG_ANALYZER_SECURITY_INSECUREAPI_STRCPY			= YES

CLANG_ANALYZER_GCD  = YES
CLANG_ANALYZER_MALLOC = YES


CLANG_WARN_DOCUMENTATION_COMMENTS = YES
CLANG_WARN_BOOL_CONVERSION = YES
CLANG_WARN_IMPLICIT_SIGN_CONVERSION = YES
CLANG_WARN_SUSPICIOUS_IMPLICIT_CONVERSION = YES

// ARC
CLANG_WARN_OBJC_EXPLICIT_OWNERSHIP_TYPE = YES
CLANG_WARN_OBJC_IMPLICIT_RETAIN_SELF = YES
CLANG_WARN_OBJC_REPEATED_USE_OF_WEAK = YES
CLANG_WARN_OBJC_RECEIVER_WEAK = YES

CLANG_STATIC_ANALYZER_MODE = shallow
CLANG_STATIC_ANALYZER_MODE_ON_ANALYZE_ACTION = deep
ENABLE_NS_ASSERTIONS = YES

CLANG_ENABLE_MODULES = NO
CLANG_ENABLE_MODULES[sdk=iphoneos7] = YES
CLANG_ENABLE_MODULES[sdk=macosx10.9] = YES

CLANG_MODULES_AUTOLINK = NO
CLANG_MODULES_AUTOLINK[sdk=iphoneos7] = YES
CLANG_MODULES_AUTOLINK[sdk=macosx10.9] = YES

CLANG_WARN_DOCUMENTATION_COMMENTS = YES


GCC_TREAT_WARNINGS_AS_ERRORS = YES